<header>
  <section id='header-left'>
    <h1>{{ site.title }}</h1>
  </section>

  <nav id='header-right'>
    <ul>
      <li>
        <a href='{{ site.baseurl }}'>Home</a>
      </li>

      <li>
        <a href='{{ "/faq" | prepend: site.baseurl }}'>FAQ</a>
      </li>

      <li>
        <a href='{{ "/codeofconduct" | prepend: site.baseurl }}'>Conduct</a>
      </li>

      <li>
        <a href='https://github.com/charlotteis/ESExplain' target='_blank'>GitHub</a>
      </li>
    </ul>
  </nav>
</header>
