<header>
  <a href='#content' id='skip'>Skip to Main Content</a>
  <section id='header-left'>
    <h1><a href='{{ "/" | prepend: site.baseurl }}'>{{ site.title }}</a></h1>
  </section>

  <nav id='header-right'>
    <ul>
      <li>
        <a href='{{ "/" | prepend: site.baseurl }}'>Home</a>
      </li>

      <li>
        <a href='{{ "/faq" | prepend: site.baseurl }}'>FAQ</a>
      </li>

      <li>
        <a href='{{ "/codeofconduct" | prepend: site.baseurl }}'>Conduct</a>
      </li>

      <li>
        <a href='https://github.com/charlotteis/ESExplain'>GitHub</a>
      </li>
    </ul>
  </nav>
</header>
