<aside id='sidebar'>
  <button type='button' id='js-articles-toggle'>Show Articles</button>
  <nav id='js-articles-nav' aria-labelledby='articles-header'>
    <span id='js-emoji-book'></span><h2 id='articles-header'>Articles</h2>
    <ul>
      <li><a href="">let</a></li>
      <li><a href="">const</a></li>
      <li><a href="">String.includes()</a></li>
      <li><a href="">Generators</a></li>
      <li><a href="">Modules</a></li>
    </ul>
    <ul>
      <li><a href="">let</a></li>
      <li><a href="">const</a></li>
      <li><a href="">String.includes()</a></li>
      <li><a href="">Generators</a></li>
      <li><a href="">Modules</a></li>
    </ul>
    <ul>
      <li><a href="">let</a></li>
      <li><a href="">const</a></li>
      <li><a href="">String.includes()</a></li>
      <li><a href="">Generators</a></li>
      <li><a href="">Modules</a></li>
    </ul>
    <ul>
      <li><a href="">let</a></li>
      <li><a href="">const</a></li>
      <li><a href="">String.includes()</a></li>
      <li><a href="">Generators</a></li>
      <li><a href="">Modules</a></li>
    </ul>
    <ul>
      <li><a href="">let</a></li>
      <li><a href="">const</a></li>
      <li><a href="">String.includes()</a></li>
      <li><a href="">Generators</a></li>
      <li><a href="">Modules</a></li>
    </ul>
  </nav>
</aside>
