.post {
    padding-top: 20px;
    max-width: 700px;
    padding-right: 100px;

    @include media-query($on-laptop) {
        padding-right: 20px;
    }

    @include media-query($on-palm) {
        padding-right: 0;
    }

    .post-title {
        display: inline-block;
        margin-top: 0;
    }

    .post-meta {
        margin-top: 0;
    }
}
